body{
    margin: 0;
    padding: 0;
    text-decoration: chocolate;
}    
div{
    font-size: 0;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 50px;
}
footer{
    width: 100%;
    height: 469px;
    background-color: #5A5A71;
}
.div-topo{
    font-size: 0;
    display: inline-block;

}
.ul-div2 li{
    margin-right: 10px;
    float: right;
}
.coluna{
    flex: 1;
    margin-top: 200px;
    margin-bottom: 0;
    border: 1px solid #000;
}
#div1{
    width: 100%;
    height: 60px;
    background-color: #FF5EAC;
    text-align: center;
    font-size: 16px;
    margin-bottom: 0px !important;
}
#div2{
    width: 100%;
    height: 60px;
    background-color: white;
    margin-bottom: 0 !important;
    font-size: 16px;
}
#div3{
    width: 100%;
    height: 593px;
    background-color: #6E56ED;
    border-bottom-right-radius: 75px;
}
#div4{
    width: 538px;
    height: 369px;
    background-color: aqua;
    position: relative;
    top: -234px;
 
}
#div5{
    display: flex;
    width: 1110px;
    height: 721px;
    border: 1px solid gray;
}
#div6{
    width: 920px;
    height: 222px;
    background-color: #7858e8;
}
#div7{
    width: 1051px;
    height: 460px;
    background-color: gray;
}
#coluna-meio{
    margin-left: 50px;
    margin-right: 50px;
}